table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
  table-layout: fixed;
}

td,
th {
  border: 1px solid darkgrey;
  text-align: left;
  padding: 8px;
  word-wrap: break-word;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

.breedTableDiv {
  height: 650px;
  overflow: auto;
  /* margin: auto; */
  width: 95%;
}

.breedCol {
  width: 150px;
}

.linkText {
  color: blue;
  text-decoration: underline;
  cursor: pointer;
}

img {
  max-width: 200px;
  height: auto;
}


button {
  text-decoration: none;
  padding: 8px 16px;
  font-size: 14pt;
}

button:hover {
  background-color: #ddd;
  color: black;
}

.previous {
  background-color: #f1f1f1;
  color: black;
}

.next {
  background-color: #04AA6D;
  color: white;
}

button:disabled,
button[disabled] {
  opacity: 0.3;
  cursor: not-allowed;
}